
div {
    border:black;
    margin:10px;
   
    padding: 5px;
    border:5px;
 
    display:inline-flex
    border-right: 2px
    
    
    }
    button {
        display: flex;
      
        margin-right: 5px;
        cursor: pointer;
        width:200px;
        height: 50px;
        background-color: transparent;
        margin-top:10px;
        display: inline-block;
        font-size:20px;
        
        .bottom{
            width:200px;
            height:10px;
        }
        
    
    }
    
    #button {
       text-align: center;
    }
    
    
    
      img{
        margin:5px;
        width:10pxx;
       border-radius: 20px;
       
      }
    
  
    
    
        #img1,#img2,#img3 {
        
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        }
   
  

    
    
     .img11,.img22,.img33  {
        transform: perspective(1000px) rotateX(-90deg);
        transition:0.5s;
    }
    
    .img11.active,.img22.active,.img33.active{
        transform: perspective(1000px) rotateX(0deg);
     
    }
    
    
    
    
    h1{
        color:black;
        font-size:20px;
        width:250px;
        margin-left: auto;
        margin-right: auto;
    }

  

    .shop1 {
       
     display:inline
    }
    .shop2 {
      
     display:inline
    }
    .shop3 {
       
     display:inline
    }



      .h2  {
       position:static;
        top: 0;
        right: 0;
      }



       
        .sorting {
            display:flex;
            margin:10px;
        }
        #celebrityList{
height: 20px;
margin-top:20px

        }