
div {
    border:black;
    margin:10px;
    /* border:100px; */
    padding: 5px;
    border:5px;
    /* border-color:black; */
    display:inline-flex
    border-right: 2px
    
    
    }
    button {
        display: flex;
        /* justify-content: space-around; */
        /* margin-left: auto; */
        margin-right: 5px;
        cursor: pointer;
        width:200px;
        height: 50px;
        background-color: transparent;
        margin-top:10px;
        display: inline-block;
        font-size:20px;
        
        .bottom{
            width:200px;
            height:10px;
        }
        
    
    }
    
    #button {
       text-align: center;
    }
    
    
    
      img{
        margin:5px;
        width:10pxx;
       border-radius: 20px;
       
      }
    
  
    
    
        #img1,#img2,#img3 {
        
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        }
   
  

    
    
     .img11,.img22,.img33  {
        transform: perspective(1000px) rotateX(-90deg);
        transition:0.5s;
    }
    
    .img11.active,.img22.active,.img33.active{
        transform: perspective(1000px) rotateX(0deg);
     
    }
    
    
    
    
    h1{
        color:black;
        font-size:20px;
        width:250px;
        margin-left: auto;
        margin-right: auto;
    }

    /* h2{
        
        width: 240px;
      
        position: absolute;
    top: 0;
    right: 0;
       
    }
    
    h2 div {
       margin-top:20px
    } */

    .shop1 {
        /* display:flex; */
     display:inline
    }
    .shop2 {
        /* display:flex; */
     display:inline
    }
    .shop3 {
        /* display:flex; */
     display:inline
    }



    .class1 {
        position: relative;
        border: solid black;
        padding:50px;
      }
      
      .h2  {
       position:static;
        top: 0;
        right: 0;
      }